:root {
    --color-fond: #141414;
    --color-fond-white: #fff;
    --color-txt-dark: #141414;
    --color-txt-white: #fff;
    --color-grey : rgba(109, 109, 110, 0.7);
    --color-red: #e50914;
    --color-txt-hover : rgb(212, 208, 208);
    --color-grey-hover: rgba(73, 73, 73, 0.7);
  
    --marge-l-r: 0 2rem 0 2rem;
    --magin-top-nav : 6rem;

    --border-small: 5px;
  
}
html , body {
    margin:0;
    padding: 0;
    background-color: var(--color-fond);
    color: var(--color-txt-white);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    cursor: default;
  }
.container {
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto; 
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.any-nav {
  margin-top: var(--magin-top-nav);
}
.front-page {
    height: 80vh;  
}
.second-section {
    margin: var(--marge-l-r);
}

.pochette-film ,.pochette-serie {
  border-radius: 5px;
  width: 98%;
  cursor: pointer;
}
.button-red {
  background: var(--color-red);
  color: var(--color-fond-white);
  font-weight: bold;
  border: none;
  border-radius: var(--border-small);
  transition: 500ms;
}
.button-red:hover {
  background: var(--color-grey-hover);
}